body {
  text-align: center;
  font-family: Arial;
}

h1 {
  color: #F5B041;
}

h2 {
  color: #85929E;
  font-style: oblique;
}

ul {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
}
