body {
  text-align: center;
  font-family: arial;
}
h1 {
  color: #C39BD3
}

h2 {
  font-size: 30px;
}

ul {
  list-style-type: none;
  line-height: 30px;
  font-weight: bold;
  font-style: normal;
}
